   
				<p>
					<%= link_to 'Back', tasks_path %>	
				</p>				
		
	
				<h3>Name:</h3>
	<p><%= @task.name %></p>
	
	
				<p>
					<%= link_to 'Edit', edit_task_path(@task) %>					
				</p>								
				
	
				<h3>Category:</h3>
				<p>
					<%= @task.category %>
				</p>
	

				<h3>Due Date:</h3>
				<p>
					<%= @task.due_date %>
				</p>
	

				<h3>Status</h3>
				<p>
					<% if @task.is_completed %>
						Completed
					<% else %>
						Incomplete
					<% end %>
				</p>
	